.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.layout {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  min-width: 855px;
}

body {
  background-color: #f8f8f8;
}